#styling .border-bottom-grey {
  border-bottom: 1px solid #BEBEBE;
}
#styling .font-raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
  line-height: 2rem;
  font-weight: 300;
}
#styling .font-karla {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
/* mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Karla', sans-serif;
  color: #BEBEBE;
  background-image: linear-gradient(to bottom, #3D3A4F, #202330);
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
  line-height: 2rem;
  font-weight: 300;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
  line-height: 2rem;
  font-weight: 300;
  color: #BEBEBE;
}
h2 {
  font-size: 2.6rem;
  color: #BEBEBE;
}
h3 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #BEBEBE;
}
p {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #BEBEBE;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #202330;
  width: 100vw;
  padding: 0 20px;
  position: fixed;
  top: -5px;
  z-index: 99;
}
header .navigation {
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
}
@media (max-width: 500px) {
  header .navigation {
    padding: 20px 0;
  }
}
header .navigation h1 {
  margin-left: 50px;
}
@media (max-width: 500px) {
  header .navigation h1 {
    font-size: 2rem;
  }
}
header .navigation .register {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
header .navigation .register a {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #BEBEBE;
  text-decoration: none;
  padding-right: 20px;
}
header .navigation .register a:hover {
  color: #FBC441;
  transition: 0.5s ease;
}
@media (max-width: 500px) {
  header .navigation .register a {
    font-size: 1.3rem;
  }
}
header .navigation .register button {
  font-family: 'Karla', sans-serif;
  line-height: 2.1rem;
  border-radius: 5px;
  background-color: #FBC441;
  font-size: 1.6rem;
  color: #3D3A4F;
  text-align: center;
  padding: 3px 10px;
  border: 2px solid #FBC441;
}
header .navigation .register button:hover {
  background-color: #202330;
  color: #BEBEBE;
  border: 2px solid #FBC441;
  transition: 0.5s ease;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .navigation .register button {
    font-size: 1.3rem;
  }
}
header .navigation .menu-toggle {
  user-select: none;
  cursor: pointer;
  height: 2.1rem;
  position: absolute;
  top: 2rem;
  width: 3.4rem;
  z-index: 3;
}
header .navigation .menu-toggle:hover {
  opacity: 0.8;
}
header .navigation .menu-toggle .menu-toggle-bar,
header .navigation .menu-toggle .menu-toggle-bar::after,
header .navigation .menu-toggle .menu-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: #BEBEBE;
  content: '';
  height: 0.4rem;
  width: 100%;
}
header .navigation .menu-toggle .menu-toggle-bar {
  margin-top: 0;
}
header .navigation .menu-toggle .menu-toggle-bar::after {
  margin-top: 0.8rem;
}
header .navigation .menu-toggle .menu-toggle-bar::before {
  margin-top: -0.8rem;
}
header .navigation .menu-toggle.expanded .menu-toggle-bar {
  background: transparent;
}
header .navigation .menu-toggle.expanded .menu-toggle-bar::after,
header .navigation .menu-toggle.expanded .menu-toggle-bar::before {
  background: #FBC441;
  margin-top: 0;
}
header .navigation .menu-toggle.expanded .menu-toggle-bar::after {
  transform: rotate(45deg);
}
header .navigation .menu-toggle.expanded .menu-toggle-bar::before {
  transform: rotate(-45deg);
}
header .navigation .menu {
  transition: left 0.5s ease;
  background: #202330;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.6;
  height: 100vh;
  left: -300px;
  text-decoration: none;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 2;
}
header .navigation .menu.expanded {
  left: 0;
  padding-left: 30px;
  box-shadow: 0px 2px 10px 2px #222222;
}
header .navigation .menu ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .navigation .menu ul li {
  width: 150px;
  padding: 10px 0;
  margin-left: 10px;
}
header .navigation .menu ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #BEBEBE;
}
header .navigation .menu ul a:hover {
  color: #FBC441;
  transition: 0.5s ease;
}
section .top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #BEBEBE;
  margin: 20px 0;
  padding: 90px 0 40px 0;
}
@media (max-width: 700px) {
  section .top-content {
    margin: 0 4%;
  }
}
@media (max-width: 500px) {
  section .top-content {
    flex-direction: column;
    margin: 0 4%;
  }
}
section .top-content .left-content {
  padding-top: 30px;
  width: 50%;
}
@media (max-width: 500px) {
  section .top-content .left-content {
    width: 100%;
  }
}
section .top-content .left-content h2 {
  padding-bottom: 15px;
}
section .top-content .left-content p {
  font-weight: lighter;
}
section .top-content .left-content button {
  border-radius: 5px;
  background-color: #FBC441;
  font-size: 1.6rem;
  color: #202330;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0;
  color: #3D3A4F;
  border: 2px solid #FBC441;
}
section .top-content .left-content button:hover {
  background-color: #202330;
  color: #BEBEBE;
  border: 2px solid #FBC441;
  cursor: pointer;
}
section .top-content .right-content {
  width: 40%;
  align-items: baseline;
}
@media (max-width: 500px) {
  section .top-content .right-content {
    width: 100%;
  }
}
section .top-content .right-content .content-image {
  width: 100%;
  align-self: center;
}
section .bottom-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
section .bottom-content .testimonials {
  padding: 0 20px;
}
section .bottom-content .testimonials h3 {
  padding: 20px 0;
  line-height: 1.5;
}
section .bottom-content .testimonials a {
  text-decoration: underline;
  font-family: 'Karla', sans-serif;
  line-height: 2.1rem;
  font-size: 1.6rem;
  color: #FBC441;
}
section .bottom-content .testimonials p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-style: italic;
}
section .bottom-content .testimonials span {
  font-size: 2rem;
  padding-top: 10px;
}
section .bottom-content .testimonials .underline {
  font-size: 1.4rem;
}
section .bottom-content .testimonials .underline:hover {
  color: #FBC441;
  cursor: pointer;
  text-decoration: underline;
}
section .bottom-content .info {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}
@media (max-width: 500px) {
  section .bottom-content .info {
    flex-direction: column;
  }
}
section .bottom-content .info img {
  width: 50%;
  padding: 20px;
}
@media (max-width: 500px) {
  section .bottom-content .info img {
    width: 100%;
  }
}
section .bottom-content .info .info-right {
  padding: 20px;
  width: 50%;
}
@media (max-width: 500px) {
  section .bottom-content .info .info-right {
    width: 100%;
  }
}
section .bottom-content .info .info-right h3 {
  padding-bottom: 20px;
  color: #BEBEBE;
}
section .bottom-content .info .info-right p {
  color: #676D85;
}
section {
  padding-top: 50px;
  max-width: 880px;
}
section .artist-profile {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
@media (max-width: 700px) {
  section .artist-profile {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  section .artist-profile {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
  }
}
section .artist-profile .artist-details {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 500px) {
  section .artist-profile .artist-details {
    width: 100%;
    margin: 20px auto;
    align-items: center;
    padding-bottom: 20px;
  }
}
section .artist-profile .artist-details img {
  max-width: 100%;
  border-radius: 50%;
  margin: 20px 0;
}
@media (max-width: 500px) {
  section .artist-profile .artist-details img {
    width: 50%;
  }
}
section .artist-profile .artist-details h2 {
  text-align: center;
  padding-top: 15px;
  color: #FBC441;
}
section .artist-profile .artist-details p {
  font-size: 1.6rem;
  padding: 20px 0;
}
@media (max-width: 500px) {
  section .artist-profile .artist-details p {
    text-align: center;
    padding: 10px 20px;
  }
}
section .artist-profile .artist-details a {
  background: #676D85;
  text-decoration: none;
  color: white;
  width: 100px;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
section .artist-profile .artist-details a:hover {
  background: #FBC441;
  transition: 1s ease;
}
section .artist-profile .create-a-post {
  width: 70%;
  border: 2px solid #676D85;
  border-radius: 5px;
  margin-left: 15%;
}
@media (max-width: 500px) {
  section .artist-profile .create-a-post {
    width: 100%;
    margin: 0 auto;
  }
}
section .artist-profile .create-a-post h3 {
  padding: 20px 0 10px 20px;
  font-size: 2.2rem;
  color: #FBC441;
}
section .artist-profile .create-a-post form {
  padding: 0 20px;
}
section .artist-profile .create-a-post form input {
  background-color: #3e3b4f;
  display: block;
  border-radius: 5px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  margin: 15px 0;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}
section .artist-profile .create-a-post form textarea {
  background: #3e3b4f;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  font-size: 1.6rem;
  font-family: inherit;
  justify-content: center;
}
section .artist-profile .create-a-post form a {
  background: #FBC441;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 2px solid #FBC441;
  color: #3D3A4F;
  margin: 15px 2px;
}
section .artist-profile .create-a-post form a:hover {
  background-color: #202330;
  color: #BEBEBE;
  border: 2px solid #FBC441;
  transition: 0.5s ease;
  cursor: pointer;
}
section .artist-profile .create-a-post .post-container input[type="text"],
section .artist-profile .create-a-post .post-container input[type="message"],
section .artist-profile .create-a-post .post-container input[type="file"] {
  background-color: #3e3b4f;
  border: none;
}
section .artist-profile .create-a-post .upload-section {
  margin-bottom: 20px;
}
section .artist-profile .create-a-post img {
  max-width: 50%;
  position: relative;
  left: 40%;
  padding: 20px;
}
.container-signin {
  max-width: 100%;
  padding-top: 40px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .container-signin {
    padding: 0;
  }
}
.container-signin .signin-box {
  max-width: 450px;
  background: linear-gradient(to bottom, #3D3A4F, #202330);
  margin: 40px auto;
  box-shadow: 0px 2px 10px 2px #222222;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .container-signin .signin-box {
    max-width: 100%;
    box-shadow: none;
    background: none;
  }
}
.container-signin h2 {
  padding: 60px 0 20px 0;
  font-weight: bold;
  text-align: center;
  color: #FBC441;
  text-decoration-line: none;
}
.container-signin form {
  padding: 25px;
}
.container-signin form p {
  padding: 15px 0;
  margin: 0 18px;
  color: #BEBEBE;
  text-decoration: none;
}
.container-signin form p.center-text {
  text-align: center;
  padding-top: 0;
  margin: 30px 0;
  border-bottom: 1px solid #3D3A4F;
}
.container-signin form button {
  border-radius: 5px;
  padding: 10px 20px;
  width: 48%;
  background: none;
  transition: 0.5s ease;
  color: #BEBEBE;
  border: 2px solid #FBC441;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}
.container-signin form button:hover {
  background: #FBC441;
  color: #3D3A4F;
  border: 2px solid #FBC441;
}
@media (max-width: 500px) {
  .container-signin form button {
    width: 100%;
    padding: 20px;
  }
}
.container-signin form input {
  display: block;
  border-radius: 5px;
  width: 100%;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-weight: 3rem;
  color: #BEBEBE;
}
.container-signin form .alternative-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .container-signin form .alternative-signin {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.container-signin form .alternative-signin button {
  padding: 10px 20px;
  width: 48%;
  border-radius: 5px;
  font-weight: bold;
  color: #BEBEBE;
  background: #3D3A4F;
  border: none;
  margin: 20px 0 30px 0;
}
@media (max-width: 500px) {
  .container-signin form .alternative-signin button {
    padding: 20px;
    width: 100%;
    margin-bottom: 0;
  }
}
.container-signin form .alternative-signin button:hover {
  background-color: #3e3b4f;
  transition: 0.5s ease;
}
.container-signin input[type="email"],
.container-signin input[type="password"] {
  background-color: #3e3b4f;
  border: none;
  font-size: 1.4rem;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 47px;
}
@media (max-width: 500px) {
  .tabs {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 92%;
    margin: 2% 4%;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .tabs .topics {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 60px 0 20px 0;
  }
}
@media (max-width: 700px) {
  .tabs .topics {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 60px 20px 20px;
  }
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #202330;
  background-color: #676D85;
  margin: 5px 5px;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 500px) {
  .tabs .topics .tab {
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .tabs .topics .tab {
    flex-wrap: wrap;
  }
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #FBC441;
  color: #202330;
}
.title-header {
  margin-top: 5px;
  padding-top: 50px;
  max-width: 100%;
}
.title-header .title-image {
  max-width: 100%;
}
.about-container {
  margin: 0 auto;
  max-width: 880px;
}
.about-container .about-content {
  margin: 0 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #676D85;
}
.about-container .about-content h2 {
  padding: 60px 0 40px 0;
  color: #FBC441;
}
.about-container .about-content p {
  padding-bottom: 20px;
  color: #BEBEBE;
  font-size: 1.8rem;
}
.about-container .seo-icons {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #676D85;
}
@media (max-width: 500px) {
  .about-container .seo-icons {
    flex-direction: column;
  }
}
.about-container .seo-icons .column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 500px) {
  .about-container .seo-icons .column {
    width: 100%;
    padding: 20px 0;
  }
}
.about-container .seo-icons .column img {
  width: 62px;
  align-self: center;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .about-container .seo-icons .column img {
    padding-bottom: 20px;
  }
}
.about-container .seo-icons .column h3 {
  text-align: center;
  padding: 20px 0;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
}
.about-container .seo-icons .column p {
  color: #BEBEBE;
}
.about-container .team {
  margin: 0 20px;
  padding-top: 0;
}
.about-container .team h2 {
  padding: 50px 0 20px 0;
  color: #FBC441;
}
.about-container .team p {
  color: #BEBEBE;
}
.about-container .team img {
  max-width: 100%;
  padding: 50px 0;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-top: 1px solid #676D85;
  border-bottom: 1px solid #676D85;
  padding: 30px 20px;
}
@media (max-width: 500px) {
  footer .footer {
    flex-direction: column;
  }
}
footer .footer .about-footer {
  max-width: 65%;
}
@media (max-width: 500px) {
  footer .footer .about-footer {
    max-width: 100%;
  }
}
footer .footer .about-footer h3 {
  padding: 20px 0;
  color: #FBC441;
}
footer .footer .about-footer p {
  color: #676D85;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
footer .footer .about-footer .footer-icons .fab {
  padding: 20px 10px 20px 0;
  font-size: 2.6rem;
  color: #676D85;
  cursor: pointer;
}
@media (max-width: 500px) {
  footer .footer .about-footer .footer-icons .fab {
    padding-left: 0;
  }
}
footer .footer .about-footer .footer-icons .fab:hover {
  color: #FBC441;
  transition: 0.5s ease;
}
footer .footer .contact-footer {
  max-width: 35%;
}
@media (max-width: 500px) {
  footer .footer .contact-footer {
    max-width: 100%;
    padding-top: 30px;
  }
}
footer .footer .contact-footer h3 {
  padding: 20px 0;
  color: #FBC441;
}
footer .footer .contact-footer p {
  color: #676D85;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
footer .footer .contact-footer p .fas {
  padding: 10px 10px 20px 0;
  font-size: 2.6rem;
  color: #676D85;
}
@media (max-width: 500px) {
  footer .footer .contact-footer p .fas {
    padding-left: 0;
  }
}
footer .footer .contact-footer p span {
  color: #FBC441;
}
footer .footer .contact-footer p span:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .copyright {
  text-align: center;
  color: #676D85;
  padding: 20px 0 40px 0;
}
section .middle-content {
  padding-top: 40px;
}
.overlay .overlay-inner .close {
  background: none;
  color: black;
  top: 0;
  border: 0;
  font-size: 1.6rem;
  cursor: pointer;
}
.overlay .overlay-inner .close:hover {
  color: #FBC441;
}
.cards-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: 110px;
  grid-auto-flow: dense;
}
@media (max-width: 700px) {
  .cards-container {
    margin: 50px 20px;
    grid-template-columns: repeat(auto-fill, 132px);
  }
}
@media (max-width: 500px) {
  .cards-container {
    margin: 50px 20px;
    grid-template-columns: repeat(auto-fill, 125px);
  }
}
.card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
@media (max-width: 700px) {
  .card {
    max-width: 100%;
    grid-template-columns: 2;
  }
}
@media (max-width: 500px) {
  .card {
    max-width: 100%;
  }
}
.card img {
  grid-column: -1;
  grid-row: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-overlay {
  background: hsla(42, 96%, 62%, 0.7);
  grid-column: -1;
  grid-row: -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.5s;
  transform: translateY(100%);
  padding: 20px;
}
.card-overlay .upvote {
  font-size: 1.6rem;
  color: white;
  padding: 10px;
}
.card-overlay p {
  font-size: 1.6rem;
  color: white;
}
.card-overlay button {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  padding: 5px 10px;
}
.card-overlay button:hover {
  cursor: pointer;
}
.card-overlay span {
  font-size: 1.6rem;
  color: white;
}
.card:hover .card-overlay {
  transform: translateY(0);
}
.card.v5 {
  grid-row: span 5;
}
.card.v3 {
  grid-row: span 3;
}
@media (max-width: 500px) {
  .card.v3 {
    grid-row: span 6;
  }
}
.card.v4 {
  grid-row: span 4;
}
@media (max-width: 500px) {
  .card.v4 {
    grid-row: span 6;
  }
}
.card.h4 {
  grid-column: span 4;
}
@media (max-width: 700px) {
  .card.h4 {
    grid-column: span 5;
  }
}
@media (max-width: 500px) {
  .card.h4 {
    grid-column: span 4;
  }
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay-inner {
  background: #3D3A4F;
  width: 700px;
  padding: 20px;
}
@media (max-width: 500px) {
  .overlay-inner {
    width: 400px;
  }
}
.overlay-inner .details {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
@media (max-width: 500px) {
  .overlay-inner .details {
    max-width: 100%;
    flex-direction: column;
  }
}
.overlay-inner .details .upvote {
  font-size: 1.6rem;
}
.overlay-inner .details .upvote .fas {
  font-size: 1.6rem;
  padding-right: 10px;
  cursor: pointer;
}
.overlay-inner .details span {
  font-size: 1.6rem;
}
.overlay-inner p {
  padding: 10px;
}
.overlay img {
  width: 50%;
  align-self: center;
}
.lazyload,
.lazyloading {
  opacity: 0;
}
