
.title-header {
  .title-image {
    
    max-width: 100%;
  }
  .resize {
    position: relative;
    top: -60px;
    max-width: 60%;
    z-index: 2;
    background-color: #3D3A4F;
    margin-left: 20px;
    h2 {
      // position: absolute;
      // top: 200px;
      padding: 40px;
      font-size: 4rem;
    }
  }
  
}

.about-content {
  margin: 0 auto;
  max-width: 880px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid @input-box-lightpurple;
  p {
    padding-bottom: 20px;
    color: @light-text-lightgrey;
    font-size: 1.8rem;
  }
}

.seo-icons {
  max-width: 880px;
  margin: 0 auto;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid @input-box-lightpurple;
  
  .column {
    display: flex;
    flex-direction: column;
    width: 30%;
    img {
      width: 62px;
      align-self: center;
      padding-bottom: 20px;
    }
    p {
      color: @light-text-lightgrey;
    }
  }
}

.team {
  margin: 0 auto;
  max-width: 880px;
  h2 {
    padding: 20px 0;
  }
  p {
    color: @light-text-lightgrey;
  }
  img {
    max-width: 100%;
    padding: 40px 0;
  }
}

footer {
  max-width: 880px;
  margin: 0 auto;
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: 1px solid @input-box-lightpurple;
    border-bottom: 1px solid @input-box-lightpurple;
    padding: 30px 0;
    .about-footer {
      max-width: 65%;
      h3 {
        padding: 20px 0;
      }
      p{
        color: @light-text-lightgrey;
      }
    }
    .contact-footer {
     max-width: 35%;
    h3 {
      padding: 20px 0;
      }
    p {
      color: @light-text-lightgrey;
      .fas {
        padding: 10px;
      }
    }
    }
  }
  .copyright {
    text-align: center;
    color: @input-box-lightpurple;
    padding: 20px 0;
  }
}

