
.title-header {
  max-width: 100%;
  .title-image {
    
    max-width: 100%;
    // margin: 0 20px;
  }
  .resize {
    position: relative;
    top: -60px;
    max-width: 60%;
    z-index: 1;
    background-color: #3D3A4F;
    margin-left: 20px;
    h2 {
      // position: absolute;
      // top: 200px;

      padding: 40px;
      font-size: 4rem;
    }
  }
  
}

.about-content {
  margin: 0 auto;
  max-width: 880px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid @input-box-lightpurple;
  p {
    padding-bottom: 20px;
    color: @light-text-lightgrey;
    font-size: 1.8rem;
  }
}

.seo-icons {
  max-width: 880px;
  margin: 0 auto;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid @input-box-lightpurple;
  
  .column {
    display: flex;
    flex-direction: column;
    width: 30%;
    img {
      width: 62px;
      align-self: center;
      padding-bottom: 20px;
    }
    p {
      color: @light-text-lightgrey;
    }
  }
}

.team {
  margin: 0 auto;
  max-width: 880px;
  h2 {
    padding: 20px 0;
  }
  p {
    color: @light-text-lightgrey;
  }
  img {
    max-width: 100%;
    padding: 40px 0;
  }
}


