footer {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: 1px solid @light-purple;
    border-bottom: 1px solid @light-purple;
    padding: 30px 20px;
    @media @phone {
      flex-direction: column;
    }
    .about-footer {
      max-width: 65%;
      @media @phone {
        max-width: 100%;
      }
      h3 {
        padding: 20px 0;
        color: @accent-color;
      }
      p{
        color: @light-purple;
        #styling.font-karla;
      }
      .footer-icons {
        .fab {
          padding: 20px 10px 20px 0;
          font-size: 2.6rem;
          color: @light-purple;
          cursor: pointer;
          @media @phone {
            padding-left: 0;
          }
          &:hover {
            color: @accent-color;
            transition: 0.5s ease;
          }
        }
      }
    }
    .contact-footer {
     max-width: 35%;
     @media @phone {
      max-width: 100%;
      padding-top: 30px;
      }
      h3 {
        padding: 20px 0;
        color: @accent-color;
        }
      p {
        color: @light-purple;
        font-size: 1.6rem;
        #styling.font-karla;
        .fas {
          padding: 10px 10px 20px 0;
          font-size: 2.6rem;
          color: @input-box-lightpurple;
          @media @phone {
            padding-left: 0;
          }
        }
        span {
          color: @accent-color;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    color: @input-box-lightpurple;
    padding: 20px 0 40px 0;
  }
}