section {
  padding-top: 50px;
  max-width: 880px;
  .artist-profile {
    // display: flex;
    // flex-direction: row;
    .flex(@jc: none, @ai: none, @dir: row);
    margin-top: 60px;
    @media @tablet {
      padding: 0 20px;
    }
    @media @phone {
      flex-direction: column;
      margin: 0 auto;
      padding: 20px;
    }
    .artist-details {
      .flex(@jc: none, @ai: none, @dir: column);
      width: 30%;
      @media @phone {
        width: 100%;
        margin: 20px auto;
        align-items: center;
        padding-bottom: 20px;
      }
      img {
        max-width: 100%;
        border-radius: 50%;
        margin: 20px 0;
        @media @phone {
          width: 50%;
        }
      }
      h2 {
        text-align: center;
        padding-top: 15px;
        color: @accent-color
      }
      p {
        font-size: 1.6rem;
        padding: 20px 0;
        @media @phone {
          text-align: center;
          padding: 10px 20px;
        }
      }
      a {
        background: @light-purple;
        text-decoration: none;
        color: white;
        width: 100px;
        border-radius: 5px;
        padding: 5px 15px;
        text-align: center;
        font-size: 1.4rem;
        #styling.font-karla();
        &:hover {
          background: @accent-color;
          transition: @transition;
        }
      }
    }
    .create-a-post {
      width: 70%;
      border: 2px solid @light-purple;
      border-radius: #styling.border-radius();
      margin-left: 15%;
      
      @media @phone {
        width: 100%;
        margin: 0 auto;
      }
      h3 {
        padding: 20px 0 10px 20px;
        font-size: 2.2rem;
        color:@accent-color;
      }
      form {
        padding: 0 20px;
        input {
          background-color: @input-color;
          display: block;
          border-radius: 5px;
          width: 100%;
          padding: 16px;
          margin: 15px 0;
          outline: 0;
          font-family: inherit;
          font-size: 1.6rem;
          color: @light-text;
          
        }
        textarea {
          background: @input-color;
          border: none;
          width: 100%;
          border-radius: 5px;
          color: @light-text;
          padding: 16px;
          font-size: 1.6rem;
          font-family: inherit;
          justify-content: center;
        }
        a {
          background: @accent-color;
          padding: 3px 10px;
          text-decoration: none;
          font-size: 1.6rem;
          border-radius: 5px;
          border: @border;
          color: @dark-text;
          margin: 15px 2px;
          &:hover {
            #styling.btn-hover();
            transition: @transition;
            cursor: @cursor;
            background: none;
          }
        }
      }
      .post-container input[type="text"],
      .post-container input[type="message"],
      .post-container input[type="file"]{
        background-color: @input-color;
        border: none;
      }
      .upload-section {
        margin-bottom: 20px;
      }
      img {
        max-width: 50%;
        position: relative;
        left: 40%;
        padding: 20px;
      }
    }
  }
}

