.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
}

#styling {
  .border-radius(@radius: 5px) {
    border-radius:@radius;
  }

  .border-bottom-grey {
    border-bottom: 1px solid @light-text-lightgrey;
  }

  .btn-cta(@radius; @background; @font-size; @color; @align) {
    border-radius: @radius;
    background-color: @background;
    font-size: @font-size;
    color: @color;
    text-align: @align;
  }

  .btn-hover() {
    background-color: @navbar-color;
    color: @light-text;
    border: 2px solid @accent-color;
  }

  .font-raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: 300;   
  }

  .font-karla {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

}

/* mixins */
.box-sizing(@box-sizing: border-box) {
	box-sizing: @box-sizing;
}

.center-menu(@position: absolute) {
	position: @position;
  top: 50%;
	transform: translateY(-50%);
}

.transform(@transform) {

	transform: @transform;
}

.transition(@parameters: all 0.5s ease) {
	transition: @parameters;
}

