@main-font-color: #E0E5E9;
@accent-color: #F5A623;
@accent-gradient: linear-gradient(#F5A623, #FCCA5A);
@light-text-lightgrey:#BEBEBE;
@input-box-lightpurple: #676D85;
@background-gradient:linear-gradient(#3D3A4F, #202330);
@facebook-color: #3b5998;
@twitter-color:#38A1F3;
@font-white:#FFFFFF;
@navbar-color: #151515;

//font-family: 


//Breakpoint variables

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 700px)';


/* variables */
// @html-background: @plum;
@html-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
@nav-toggle-bar-color: @light-text-lightgrey;
@nav-toggle-bar-height: 0.4rem;
@nav-toggle-bar-width: 3.6rem;
@nav-background: @input-box-lightpurple;
@nav-width: 300px;
@z-nav-toggle: 3;
@z-nav: 2;