section .middle-content {
  padding-top: 40px;
}
  .overlay {
    .overlay-inner {
      .close {
        background: none;
        color: black;
        top: 0;
        border: 0;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
          color: @accent-color;
        }
      }
    }     
  }
  
    .cards-container {
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, 110px);
      grid-auto-rows: 110px;
      grid-auto-flow: dense;
      
      @media @tablet {
        margin: 50px 20px;
        grid-template-columns: repeat(auto-fill, 132px);
      }

      @media @phone {
        margin: 50px 20px;
        grid-template-columns: repeat(auto-fill, 125px);
      }
    }
    
    .card {
      overflow: hidden;
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1;
      @media @tablet {
        max-width: 100%;
        grid-template-columns: 2;
      }
      @media @phone {
        max-width: 100%;
      }
    }
    
    .card img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .card-overlay {
      background: hsla(42, 96%, 62%, 0.7);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      position: relative;
      display: grid;
      justify-items: center;
      align-items: center;
      transition: 0.5s;
      transform: translateY(100%);
      padding: 20px;
      .upvote {
        font-size: 1.6rem;
        color: white;
      }
      p {
        font-size: 1.6rem;
        color: white;
      }
      button {
        background: none;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        font-size: 1.6rem;
        // background:@accent-color;
        padding: 5px 10px;
        &:hover {
          cursor: pointer;
        }
      }
      span {
        font-size: 1.6rem;
        color: white;
      }
    }
    
    .card:hover .card-overlay {
      transform: translateY(0);
    }
    
    .card.v5 {
      grid-row: span 5;
    }
   
    .card.v3 {
      grid-row: span 3;
      @media @phone {
        grid-row: span 6;
      }
    }
    .card.v4 {
      grid-row: span 4;
      @media @phone {
        grid-row: span 6;
      }
    }
    .card.h4 {
      grid-column: span 4;
 
      @media @tablet {
        grid-column: span 5;
      }
      @media @phone {
        grid-column: span 4;
      }
    }
    
    .overlay {
      position: fixed;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 2;
    }
    
    .overlay.open {
      display: grid;
      align-items: center;
      justify-items: center;
    }
    
    .overlay-inner {
      background: @dark-purple;
      width: 700px;
      padding: 20px;
      @media @phone {
        width: 400px;
      }
      .details {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        @media @phone {
          max-width: 100%;
          flex-direction: column;
        }
        .upvote {
          font-size: 1.6rem;
          .fas {
            font-size: 1.6rem;
            padding-right: 10px;
            cursor: pointer;
          }
        }       
        span {
          font-size: 1.6rem;
        }
        
      }
      p {
        padding: 10px;
      }
    }
    
    .overlay img {
      width: 50%;
      align-self: center;
    }
    
    .lazyload,
    .lazyloading {
        opacity: 0; }
    